.bodyText {
  margin-bottom: 16px;
  font-size: 1rem;
  color: #444;
  font-weight: 500;
}

.resultContainer {
  margin-top: 30px;
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100px;

  @media (max-width: 768px) {
    padding: 16px;
  }

  @media (max-width: 480px) {
    padding: 12px;
  }
}

.resultBox {
  white-space: pre-wrap;
}
